{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

  {{ encore_entry_link_tags('app') }}
  {{ encore_entry_script_tags('app') }}


  <div id="root">


  {# <div class="wrapper"> #}
 {#    {% for piece in pieces %} #}
      {# <div class="pieces"> #}
  {#       <img src="../../assets/images/pieces/{{ piece.image }}" alt="{{ piece.image }}"> #}
      {# </div> #}
    {# {% endfor %} #}
{#   </div> #}
  

{% endblock %}

