{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container collection">
    <div class="row">
      <div class="col-sm">
        <i class="fas fa-filter"></i>
      </div>
      <div class="col-sm">
        <ul>
               {% for piece in pieces %}
               <li>{{ piece.title }}</li>
               {% endfor %}
      </ul>
      </div>
    </div>
  </div>
  

{% endblock %}

