{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container collection">
    <div class="row">
      <div class="col-sm">
        <i class="fas fa-filter"></i>
      </div>
      <div class="col-sm">
        <p>for of</p>
      </div>
    </div>
  </div>
  

{% endblock %}

