<h1>Find My Art : Confirmation de votre email!</h1>

<p>
    Bonjour ! <br>

    Pour confirmer votre adresse email et valider votre inscription, veuillez cliquez sur le lien suivant :
    <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse email</a>.

    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Ce lien vous redirigera vers la page de connexion. 
    Entrez vos identifiants pour accéder à votre nouvel espace personnel.
</p>

<p>
    Merci et à bientôt !
</p>
