
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:white;
}
nav{
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.48);
    padding: 2rem;
}
.menu ul li{
    margin-right: 3rem;
    list-style-type: none;
    font-size: 2em;
}
.menu ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}
.menu ul li a:hover{
    color: rgb(37, 83, 114);
}
.icon a{
    margin-right: 1rem;
    font-size: 2em;
    color: black;
}
.icon a:hover{
    color: rgb(37, 83, 114);
}
.collection{
    margin-top: 5rem;
}