{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}


<section class="legal-notice">
    <h1>Mentions légales</h1>
    
    <div class="legal-notice--detail">
        <div>
            <p>
                Find My Art est un site fictif issu d'un projet de groupe dans le cadre de la formation professionelle 
                Développement Web de l'organisme La Passerelle. Il n'a aucun but commercial, et n'offre aucun service. 
                Il a été réalisé par Aissiou Abdallah, Julien Bellet, Léa Buguinet, Nathalie Thisse.
        
             </p>


            <h3>Hébergement</h3>

            <p>
                Le site est hébergé par : 
            </p>

            <h3>Mentions relatives à l'utilisation de cookies</h3>

            <p>
                Nous utilisons uniquement des cookies pour l'autentification des utilisateurs et leur connexion à leur compte personnel.
                Ces cookies restent sur l'appareil de l'utilisateur uniquement le temps de la session : 
                Ils sont supprimés une fois que l'utilisateur se déconnecte.
            </p>

        </div>
        <div>
            <h3>Mentions relatives à l'utilisation de données personnelles</h3>

            <p>
                Ce site étant fictif, les informations personnelles demandées à l'inscription d'un usager ne sont pas utilisées et n'ont aucun
                besoin d'être correctes ou réelles. 
                En s'inscrivant, l'utilisateur consent à ce que les données inscrites dans le formulaire soient insérées en base de données.

                Il est possible de modifier ou de supprimer ces informations de la base de données en contactant : 
            </p>


            <h3>Mentions relatives au contenu du site</h3>

            <p>
                Toutes les données du site sont fictives. 
                Les images proviennent toutes du site <a href="https://unsplash.com/">Unsplash</a> et sont libres de droits.
            </p>
        </div>
    </div>
   
</section>
{% endblock %}
