{% extends 'base.html.twig' %}

{% block title %}Hello UserAccountController!{% endblock %}

{% block body %}

<h1>Bonjour, bienvenu⸱e sur votre espace personnel ! </h1>

<h2>Vos commandes</h2>

<h3>Vos informations personnelles</h3>

{% endblock %}
