{% extends 'base.html.twig' %}

{% block title %}Hello UserAccountController!{% endblock %}

{% block body %}

<h1>Bonjour {{ user.firstname }}, bienvenu⸱e sur ton espace personnel ! </h1>

<h2>Tes commandes</h2>

<h3>Tes informations personnelles</h3>

{% endblock %}
