{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}"><i class="fas fa-arrow-alt-circle-left m-2"></i>Retour à la liste</a>
{% endblock %}
